{% extends 'Pagelayout.twig' %}

{%  block body %}

  <h2>Liste des demandes pour devenir un membre du personnel</h2>

  {% if resultat is defined %}
    <p class="alert {{ resultat }}">{{ message }}</p>
  {% endif %}
  
  <div class="row mt-3">
      <div class="col-12">
          <table
                class="table"
                id="table"
                data-toggle="table"
                data-url="{{ pathRoot ~ 'user/demandeuserBS' }}"
                data-ajax="ajaxRequest"
                data-search="true"
                data-searchable="true"
                data-side-pagination="server"
                data-sortable="true"
                data-pagination="true"
                data-page-size="5">
            <thead>
            <tr>
                <th data-field="UT_id" 
                    data-searchable="false"
                    data-sortable="true"
                >N°</th>
                <th data-field="UT_prenom" 
                data-searchable="true"
                data-sortable="false"
                >Prénom</th>
                <th data-field="UT_nom" 
                data-searchable="true"
                data-sortable="false"
                >Nom</th>
                <th data-field="UT_login" 
                    data-searchable="true"
                    data-sortable="false"
                >Login</th>
                <th data-field="UT_dateCrea" 
                    data-searchable="true"
                    data-sortable="true"
                >Date de création</th>
                <th data-field="UT_actif" 
                    data-searchable="false"
                    data-sortable="true"
                >Etat</th>
                <th data-field="UT_role" 
                    data-searchable="true"
                    data-sortable="true"
                >Rôle</th>
                <th data-field="action" 
                    data-searchable="false"
                    data-formatter="actionFormatter"
                >Action</th>
            </tr>
            </thead>
          </table>
      </div>
  </div>
  <script>

      // your custom ajax request here
      function ajaxRequest(params) {
        const url = $('#table').data('url')
        $.get(url + '/?' + $.param(params.data))
          .then(function (res) {
            params.success( JSON.parse(res) )
          })
      }

      window.onload = () => {
        const allBtn = document.querySelectorAll(".btn")

        allBtn.forEach( function(btn) {
            btn.addEventListener('click', (e)=>{
                const elem = e.target
                elem.dataset.val = 1
                $('#table').bootstrapTable('refresh')
            })
        })
    }

      function actionFormatter(value, row) 
      {
        return '<a class="btn btn-sm btn-primary" href="{{ pathRoot ~ 'user/validdemandeuser/id/' }}' + row.UT_id + '/login/' + row.UT_login + '"> Autoriser </a>'
      }

    </script>

{%  endblock %}